*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.album{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.row button{
    margin-left: 10px;
}

.album .language img{
    width: 20px;
    margin: 0 10px;
}

.album .poster img{
    display: inline-block;
    width: 342px;
    min-height: 513px;
    margin: 10px 0;
}

.album h2{
    margin: 10px 0;
}
