<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
        <title></title>
        <link rel="stylesheet" href="css/style.css">
        <script src="js/script.js" charset="utf-8"></script>
    </head>
    <body>
        <div id="app" class="container">

<!-- navbar -->
                <div class="navbar">
                    <div class="logo">
                        <h1>BoolFlix</h1>
                    </div>
                    <div class="search">
                        <input type="text" name="" value="" placeholder="Cerca film/serieTV" v-model="searched" @keyup.enter="getApi">
                        <button type="button" name="button" @click="getApi">Cerca</button>
                    </div>
                </div>

<!-- contenitore principale -->
                <main>
                    <!-- Film -->
                    <ul class="row">
                        <li class="album" v-for="movie in movies">
                            <div class="poster" v-html="poster(movie.poster_path)"></div>
                            <div class="info">
                                <h2>{{movie.title}}</h2>
                                <h3>{{movie.original_title}}</h3>
                                <div class=language>
                                    <div class="row" v-html="showFlag(movie.original_language)"></div>
                                </div>
                                <div class="vote" >
                                    <i v-for ="(star, starIndex) in 5" :class=" convertVote(movie.vote_average) > starIndex ? 'fas fa-star' : 'far fa-star'"></i>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <!-- Serie TV -->
                    <ul class="row">
                        <li class="album" v-for="serie in tvSeries">
                            <div class="poster" v-html="poster(serie.poster_path)"></div>
                            <div class="info">
                                <h3>Titolo:{{' ' + serie.name}}</h3>
                                <h3>{{serie.original_name}}</h3>
                                <div class=language>
                                    <div class="row" v-html="showFlag(serie.original_language)"></div>
                                </div>
                                <div class="vote" >
                                    <i v-for ="(star, starIndex) in 5" :class=" convertVote(serie.vote_average) > starIndex ? 'fas fa-star' : 'far fa-star'"></i>
                                </div>
                            </div>
                        </li>
                    </ul>
                </main>
        </div>
    </body>
</html>
